package templates

templ about() {
    <section id="form" class="flex justify-center pt-4">
        <h1 class="text-center">
        About
        </h1>
        <p class="text-center">
        A powerful debt recycling calculation that allows you to project your debt recycling scenario.
        </p>
    </section>
}
