package templates

templ Index(form templ.Component, results templ.Component) {
    <section id="form" class="flex justify-center pt-4">
        @form
    </section>
    <section id="results" class="flex-col justify-center pt-4">
        @results
    </section>
}
