package templates

templ Index(hero templ.Component, form templ.Component, results templ.Component) {
    <section id="hero" class="justify-center p-4">
        @hero
    </section>
    <section id="form" class="flex justify-center pt-4">
        @form
    </section>
    <section id="results" class="flex-col justify-center pt-4">
        @results
    </section>
}
