package templates

import (
    "debtrecyclingcalc.com/internal/charts"

    echarts "github.com/go-echarts/go-echarts/v2/charts"
)

templ lineChart(chart *echarts.Line) {
    <div class="mx-auto max-w-sm sm:max-w-md md:max-w-xl lg:max-w-2xl">
        @charts.ChartToTemplComponent(chart)
    </div>
}
