package templates

templ NotFound() {
    <section id="not-found" class="justify-center p-4 min-h-screen">
        <div class="flex-col mx-auto text-center w-full min-h-full mt-24">
            <h1 class="text-8xl font-mono mt-4">404</h1>
            <p class="text-xs">Not Found</p>
            <p class="text-lg text-blue-600 hover:underline p-8"><a href="/">Home</a></p>
        </div>
    </section>
}
